@media screen and (max-width: 576px) {
  html,
  body {
    overflow-x: hidden;
  }

  /* Repeated Styles */
  .sec-head {
    font-size: 1.5rem;
    margin-bottom: 12px;
    padding: 0 20px;
  }

  .sec-tittle {
    font-size: 14px;
    padding: 0 20px;
  }

  /* Navbar */
  .navbar {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .nav-list {
    display: none;
  }

  /* Banner */
  .banner-sec {
    flex-direction: column-reverse;
    margin-top: 1.75rem;
  }

  .banner-text h1 {
    font-size: 1.5rem;
    padding: 0 1.25rem;
    margin-top: 1.75rem;
  }

  .banner-text p {
    font-size: 14px;
    padding: 0 1.25rem;
  }

  /* Our Plants Section */
  .plants-sec {
    padding: 0 20px;
  }

  .plants-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Plants Lover */
  .trusted-badge {
    display: none;
  }

  .plants-lover-sec {
    flex-direction: column;
    padding: 0 20px;
  }

  .plants-lover-text h2 {
    font-size: 24px;
    margin: 18px 0;
  }

  .plants-lover-text .lover-tittle {
    font-size: 14px;
  }

  /* Latest Deals */
  .deals-container {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  .deals-card-25,
  .deals-card-60,
  .deals-card-30 {
    grid-column: 1;
    padding: 60px;
  }

  .deals-card-25 h3,
  .deals-card-60 h3,
  .deals-card-30 h3 {
    font-size: 1.2rem;
  }

  .deals-card-25 a,
  .deals-card-60 a,
  .deals-card-30 a {
    font-size: 1.2rem;
  }
}
