/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
html,
body {
  background-color: #f5f8ff;
  scroll-behavior: smooth;
}

/* CSS Variables */
:root {
  --brand-color: #e95a08;
  --tittle-color: rgba(0, 0, 0, 0.5);
  --other-color: rgba(107, 114, 128, 1);
  --white-color: whitesmoke;

  --hero-font: 4.062rem;
  --sec-name-font: 3.125rem;
  --tittle-font: 1.375;
}

/* Start Repeated Styles */
@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.view {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-gap {
  margin: 120px auto;
}

.sec-head {
  font-size: var(--sec-name-font);
  text-align: center;
}

.sec-tittle {
  font-size: var(--tittle-font);
  color: var(--tittle-color);
  margin-bottom: 3rem;
  text-align: center;
}

.sec-tittle-span {
  color: var(--brand-color);
}

.btn {
  width: 100%;
  background-color: var(--brand-color);
  color: var(--white-color);
  padding: 19px 0;
  border: 2px solid transparent;
  margin-top: 1.875rem;
  transition: all 0.35s ease;
  cursor: pointer;
}

.btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: var(--white-color);
  color: var(--brand-color);
  border: 2px solid var(--brand-color);
  border-radius: 0 0 14px 14px;
}

/* End Repeated Styles */

/* Header Start here */

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.875rem;
}

.nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.nav-links a {
  color: var(--other-color);
  text-decoration: none;
  transition: all 0.35s ease;
}

.nav-links a:hover {
  color: var(--brand-color);
}

.nav-links li {
  transition: all 0.35s ease;
}

.nav-links li:hover {
  transform: scale(1.1);
}

/* Banner */

.banner-sec {
  display: flex;
  align-items: flex-end;
}

.banner-text {
  max-width: 570px;
}

.banner-text h1 {
  font-size: var(--hero-font);
}

.banner-text span {
  color: var(--brand-color);
}

.banner-text p {
  font-size: var(--tittle-font);
  color: var(--tittle-color);
  margin-top: 13px;
}

.banner-img img {
  width: 100%;
}

/* Our Plants Section */
.plants-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;
}

.plants-card {
  max-width: 270px;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.35s ease;
}

.plants-card:hover {
  transform: scale(1.02);
  border-radius: 14px 14px 14px 14px;
}

.plants-card img {
  width: 100%;
  height: 322.94px;
  object-fit: cover;

}

.plants-card p {
  font-size: 22px;
  cursor: text;
}

/* Plants Lover Section */
.plants-lover-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.badge {
  max-width: 286px;
  position: absolute;
  top: -120px;
  left: 350px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trusted-badge {
  width: 100%;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.4));
  animation: spin 20s linear infinite;
}

.plants-lover-img {
  max-width: 540px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.plants-lover-img img {
  width: 100%;
}

.plants-lover-text {
  max-width: 540px;
}

.plants-lover-text h2 {
  font-size: var(--sec-name-font);
}

.plants-lover-text ul {
  padding-left: 2rem;
  color: var(--tittle-color);
}

.plants-lover-text .lover-tittle {
  font-size: var(--tittle-font);
  color: var(--tittle-color);
  margin-top: 20px;
}

/* Latest Deals */

.deals-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.deals-card-25 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  place-items: center;
  padding: 172px 0 151px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/deal-zabo.png);
  background-position: center;
  background-size: cover;
  border-radius: 14px;
  box-shadow: rgba(99, 99, 99, 0.906) 0px 2px 8px 0px;

}

.deals-card-25 h3 {
  color: var(--white-color);
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.deals-card-25 a {
  display: block;
  color: var(--white-color);
  font-size: 1.75rem;
  font-family: 'Playfair Display', serif;
  border-bottom: 2px solid var(--white-color);
}

.deals-card-60 {
  place-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/deal-bloom.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  border-radius: 14px;
  box-shadow: rgba(99, 99, 99, 0.906) 0px 2px 8px 0px;
}

.deals-card-60 h3 {
  color: var(--white-color);
  font-size: 1.25rem;
  font-family: 'Playfair Display', serif;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.deals-card-60 a {
  color: var(--white-color);
  font-size: 1rem;
  font-family: 'Playfair Display', serif;
  border-bottom: 2px solid var(--white-color);
}

.deals-card-30 {
  place-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/deal-ana.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  border-radius: 14px;
  box-shadow: rgba(99, 99, 99, 0.906) 0px 2px 8px 0px;
}

.deals-card-30 h3 {
  color: var(--white-color);
  font-size: 1.25rem;
  font-family: 'Playfair Display', serif;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.deals-card-30 a {
  color: var(--white-color);
  font-size: 1rem;
  font-family: 'Playfair Display', serif;
  border-bottom: 2px solid var(--white-color);
}

/* Join Section */
.join-sec {
  background-image: url(../Images/news-letter-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.join-sec-content {
    padding: 200px;
}

.join-sec-head {
  color: var(--white-color);
}

.form {
  display: flex;
  align-items: center;
  margin-top: 23px;
}

.form input {
  width: 100%;
  padding: 16px 30px;
  outline: none;
  border: none;
  transition: all 0.35s ease;
}

.form input:focus {
  transform: scale(1.02);
}

.form .join-btn {
  padding: 16px 60px;
  background-color: var(--brand-color);
  color: var(--white-color);
  border: none;
  transition: all 0.35s ease;
  cursor: pointer;
}

.join-btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transform: scale(1.02);
}

/* Footer */

.footer-contents {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-logo {
    max-width: 360px;
}

.footer-logo p {
    font-size: var(--tittle-font);
    color: var(--tittle-color);
    margin-top: 1rem;
    font-weight: 500;
}

.footer-list li {
    list-style: none;
    margin-bottom: 2rem;
    transition: all 0.35s ease;
}

.footer-list li:hover {
  transform: scale(1.1);
}

.footer-list li a {
    color: var(--tittle-color);
    transition: all 0.35s ease;
}

.footer-list li a:hover {
    color: var(--brand-color);
}

.social-logos {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.social-logos a img {
    transition: all 0.35s ease;
}

.social-logos a img:hover {
    transform: translateY(-8px) scale(1.03);
}